### Evolving Network Analysis - January 2018
#### <i>Abdel K. Bokharouss, Joris Rombouts, Bart van Helvert, Remco Surtel</i>

In [1]:
import pandas as pd
import numpy as np

In [2]:
with open("./data/tgraph_real_wikiedithyperlinks.txt") as file:
    peek = file.readlines()[:10]
peek

['1 6 1028243088 1120917090\n',
 '1 8 1029885647 1136791625\n',
 '1 9 1029885647 1136791625\n',
 '1 3 1028243088 1143227562\n',
 '1 3 1146727453 1148998304\n',
 '1 5 1028243088 1184096745\n',
 '1 2 1028243088 1184096745\n',
 '1 3 1149598035 1184096745\n',
 '1 4 1028243088 1184096745\n',
 '1 7 1028243088 1184096745\n']

In [3]:
temp_nw = pd.read_table("./data/tgraph_real_wikiedithyperlinks.txt", header = None, sep = " ",
                       names = ["src", "trg", "start", "end"])

In [4]:
temp_nw.head()

   src  trg       start         end
0    1    6  1028243088  1120917090
1    1    8  1029885647  1136791625
2    1    9  1029885647  1136791625
3    1    3  1028243088  1143227562
4    1    3  1146727453  1148998304

In [5]:
temp_nw.start = pd.to_datetime(temp_nw['start'], origin = 'unix', unit='s') # seconds since epoch
temp_nw.end = pd.to_datetime(temp_nw['end'], origin = 'unix', unit='s')

In [6]:
temp_nw.tail()

            src    trg               start                 end
4729030  245678  23803 2011-07-10 07:36:17 2011-07-10 07:41:29
4729031  290648  23754 2011-07-10 09:25:13 2011-07-10 09:40:49
4729032  290648  23761 2011-07-10 09:25:13 2011-07-10 09:51:38
4729033  377674  76736 2011-07-10 10:02:26 2011-07-10 10:24:06
4729034  377674  44641 2011-07-10 10:02:26 2011-07-10 10:24:06

In [7]:
temp_nw.to_csv('./data/tgraph_real_wikiedithyperlinks.csv', index = False) # for usage in other notebooks and scripts

In [ ]:
# df = pd.read_csv('./data/tgraph_real_wikiedithyperlinks.csv')

In [8]:
# np.savetxt(r'./data/tgraph_real_wikiedithyperlinks_NoTime.txt', temp_nw[['src', 'trg']].values, fmt='%d')